<tr>
  <td>
    ###
  </td>
</tr>
<tr>

  <td>
    Problem Type
  </td>

  <td>
    Pictorial
  </td>

<tr>

  <td>
    Problem Statement
  </td>


</tr>
<tr>
  <td colspan ="2">
    <%= text_area_tag "descriptions[]", "", multiple: true%>
  </td>
</tr>